html{
  scroll-behavior:smooth ;
}
body{
  margin: 0;
  padding: 0;
  background-color: black;
}
.header-section{
  background-color: black;
  color:#45bf90;
  height:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  font-family:Georgia,Sans-Serif;
}
.logo{
  font-style:bold;
}
a{
  color:white;
  font-style: none;
  text-transform: none;
}
button{
  background-color: darkgreen;
  color:white;
  border:1px groove black;
  border-radius:15px;
}
.home{
  height:400px;
  background:linear-gradient(135deg , darkgreen , black)
}
.home-text{
  font-family: Georgia,Sans-Serif;
  margin-top: 30px;
  text-align: center;
  color:white;
}
h2{
  font-size:40px;
}
h3{
  color:lightgreen;
  font-size:30px;
}
.home-button{
  background-color: darkgreen;
  color:white;
  border:1px groove black;
  border-radius:15px;
  height: 40px;
  width: 100px;
}
.card-section{
  margin-top:50px;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap:20px
}
.card{
  text-align: center;
  margin:10px;
  background-color: #1d572c;
  color: white;
  height:300px;
  width:200px;
}
h4{
  color:black;
  font-size:25px;
  margin-top:20px;
  margin-left: 20px;
}
.whyus{
  background: linear-gradient(135deg , darkgreen , white);
}
.box{
  border:5px groove black;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  width:500px;
}
footer{
  text-align: center;
  color:white;
}